@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #480E23;
  --background-start-rgb: #54020E;
  --background-end-rgb: #873044;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}


.blueGreen{
  @apply bg-gradient-to-b from-indigo-800 from-10% to-indigo-500 to-90%
}